/* Eliminamos la barra de Google */
#navbar-iframe-container {
	display: none;
}

/* Header */
.navbar-inverse {
	background-color: #111;
    height: 70px !important;
}

#titulo span {
	display: inline-block;
    vertical-align: middle;
	color: #AAA;
    opacity: 0.8;
}

#titulo img {
	opacity: 0.8;
}